body {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	margin: 0;
	background: #fff url(../images/cabecera-bg.gif) 0 0 repeat-x;
	font-family: Helvetica, Arial, sans-serif;
}

/*---<documentos />---*/

#documento {
	margin: 0;
	background:transparent url(../images/pie-bg.gif) center bottom repeat-x;
}

/*---<pagina />---*/

#pagina {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}

/*---<cabecera />---*/

#cabecera {
	width: 960px;
	height: 50px;
	background: #93b928 url(../images/cabecera-bg.gif) 0 0 repeat-x;
}

	#perfil {
		float: left;
		width: 250px;
		height: 50px;
	}
	
		#perfil img {
			float: left;
			width: 40px;
			height: 40px;
			margin: 5px 8px 0 0;
		}
		
		#perfil h4 {
			margin: 8px 0 0 0;
			font-size: 10pt;
			line-height: 13pt;
			color: #fff;
			border-right: 1px dotted #aeca5d;
		}
		
			#perfil h4 span {
				font-size: 8pt;
			}
			
				span.perfil a {
					text-decoration: none;
					color: #fff;
				}
			
				span.cerrar a {
					text-decoration: none;
					color: #ffff00;
				}
	
	#iconos {
		float: left;
		width: 200px;
		height: 50px;
		margin: 0 0 0 20px;
	}
	
	#iconos ul {
		margin: 10px 0 0 5px;
		padding: 0;
		
	}
	
		#iconos ul li {
			float: left;
			display: inline;
			margin: 0;
			padding: 5px 7px;
			position: relative;
		}
		
			span.new {
				font-size: 8pt;
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				padding: 1px 2px;
				background-color: red;
				font-weight: bold;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				color: #fff;
			}
		
		#iconos ul li a {
			text-decoration: none;
			color: #fff;
		}
	
	#titulo {
		float: right;
		width: 190px;
		height: 50px;
	}
	
		#titulo h1 {
			margin: 0;
			padding: 10px 20px 0 0;
			text-align: right;
		}
	
	#qondatv {
		float: right;
		width: 120px;
		height: 50px;
	}

/*---<menu />---*/

#menu {
	width: 960px;
	height: 25px;
	background-color: #93b928;
}

	#opciones {
		margin: 0;
		padding: 0;
		height: 25px;
		list-style: none;
		display: inline;
		overflow: hidden;
	}

		#opciones li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline;
		}
	
		#opciones a {
			float: left;
			padding: 25px 0 0 0;
			overflow: hidden;
			height: 0px !important;
			height /**/:25px; /* for IE5/Win Only */
		}
	
			#opciones a:hover {
				background-position: 0 -25px;
			}
			
			#opciones a:active, #opciones a.selected {
				background-position: 0 -25px;
			}
	
			#opcion-inicio a {
				width: 35px;
				background: url(../images/opcion-inicio.gif) 0 0 no-repeat;
			}		

			#opcion-sudafrica a {
				width: 114px;
				background: url(../images/opcion-sudafrica.gif) 0 0 no-repeat;
			}
			
			#opcion-aficionados a {
				width: 98px;
				background: url(../images/opcion-aficionados.gif) 0 0 no-repeat;
			}
			
			#opcion-blogeros a {
				width: 82px;
				background: url(../images/opcion-blogeros.gif) 0 0 no-repeat;
			}
			
			#opcion-foros a {
				width: 63px;
				background: url(../images/opcion-foros.gif) 0 0 no-repeat;
			}
			
			#opcion-amigos a {
				width: 71px;
				background: url(../images/opcion-amigos.gif) 0 0 no-repeat;
			}
			
			#opcion-multimedia a {
				width: 94px;
				background: url(../images/opcion-multimedia.gif) 0 0 no-repeat;
			}
			
			#opcion-bellas a {
				width: 68px;
				background: url(../images/opcion-bellas.gif) 0 0 no-repeat;
			}
			
			#opcion-mi-zona a {
				width: 75px;
				background: url(../images/opcion-mi-zona.gif) 0 0 no-repeat;
			}
			
			#opcion-mi-cuenta a {
				width: 85px;
				background: url(../images/opcion-mi-cuenta.gif) 0 0 no-repeat;
			}


/*---<contenido />---*/

#cuerpo{
	width: 960px;
	overflow: hidden;
}

/*---<contenido />---*/

#contenido {
	float: left;
	width: 800px;
}

	#submenu {
		width: 800px;
		height: 31px;
		margin: 20px 0 10px 0;
		border: 1px solid #eee;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}

		#submenu ul {
			margin: 0;
			padding: 0;
		}
	
			#submenu ul li {
				float: left;
				list-style: none;
				margin: 0;
				font-size: 8pt;
				font-weight: bold;
				text-transform: uppercase;
				border-right: 1px solid #eee;				
			}
			
				#submenu ul li a {
					display: block;
					padding: 9px;
					text-decoration: none;
					color: #666;
				}
			
				#submenu ul li a:hover {
					padding: 9px;
					background-color: #eee;
					color: #007ab7;
				}
			
				#submenu ul li a.subselected {
					background-color: #eee;
					color: #007ab7;
				}


	#miniopciones {
		border-bottom: 1px solid #eee;
		width: 800px;
		height: 40px;
	}
	
		.total-arriba {
			float: left;
			width: 200px;
		}
	
			.total-arriba p {
				margin: 0;
				padding: 0 0 20px 0;
				font-size: 10pt;
				color: #ccc;
			}
	
	.ordenar {
		float: right;
		width: 300px;
	}
	
		.ordenar p {
			margin: 0;
			padding: 0 0 20px 0;
			font-size: 10pt;
			text-align: right;
			color: #333;
		}
		
			.ordenar p a {
				text-decoration: none;
				color: #007ab7;
			}
	
			.ordenar p span {
				color: #ccc; 
			}
	
	

	.aficionado {
		float: left;
		width: 400px;
		height: 90px;
		border-bottom: 1px solid #eee;
		background-color: #fff;
	}
	
		.display-aficionado {
			float: left;
			width: 50px;
			height: 50px;
			padding: 20px 10px 20px 0;
		}
		
		.info-aficionado h4 {
			margin: 0;
			padding: 20px 0 5px 0;
			font-size: 8pt;
			color: #007ab7;
		}
		
			span.ciudad {
				padding: 0 0 0 10px;
				font-weight: normal;
				color: #ccc;
			}
			
			span.status {
				float: right;
				margin-right: 10px;
			}
			
			span.status images {
				padding: 0 0 0 10px;
				vertical-align: middle;
			}
			
		.info-aficionado p {
			margin: 0;
			padding: 0 0 5px 0;
			font-size: 8pt;
			color: #333;
		}
		
		.info-aficionado ul {
			margin: 0;
			padding: 0;
		}

		.info-aficionado ul li {
			float: left;
			list-style: none;
			margin: 0;
			padding: 0 10px 0 0;
			font-size: 8pt;
			color: #ccc;
		}
		
			.info-aficionado ul li.fav {
				float: right;
				margin-right: 0;
			}

	#minipaginacion {
		clear: both;
	}
	
		.total {
			float: left;
			width: 200px;
		}
		
			.total p {
				margin: 0;
				padding: 20px 0 0 0;
				font-size: 10pt;
				color: #007ab7;
			}
		
		.paginacion {
			float: right;
			width: 300px;
		}
		
			.paginacion p {
				margin: 0;
				padding: 20px 0 0 0;
				font-size: 10pt;
				text-align: right;
				color: #333;
			}
				
				.paginacion p a {
					text-decoration: none;
					color: #007ab7;
				}
			
				.paginacion p span {
					font-size: 14pt;
					vertical-align: middle;
				}		

/*---<barra />---*/

#barra {
	float: left;
	width: 150px;
	margin: 0 0 0 10px;
}

	#banner {
		width: 150px;
		height: 520px;
		margin: 20px 0;
	}
	
	.publicidad {
		width: 150px;
		margin: 0 0 20px 0;
	}
	
		.publicidad h4 {
			margin: 0 0 10px 0;
			font-size: 8pt;
			color: #007ab7;
		}
		
		.publicidad images {
			margin: 0 0 10px 0;
		}
		
		.publicidad p {
			margin: 0;
			font-size: 8pt;
			line-height: 13pt;
			color: #333;
		}
	
	#social-media {
		width: 150px;
		height: 70px;
		margin: 0 0 20px 0;
		background-color: #e1e2e2;
	}
	
		#social-media h4 {
			margin: 0;
			padding: 5px 0 10px 0;
			font-size: 8pt;
			color: #007ab7;
			text-align:center;
		}

		#social-media ul {
			margin: 0;
			padding: 0;
		}
		
		#social-media ul li {
			float: left;
			width: 75px;
			text-align:center;
			margin: 0;
			padding: 0;
			list-style: none;
		}



/*---<usuariosDestacados, muro />---*/

#left {
	width: 150px;
	float: left;
}

#center {
	width: 640px;
	margin: 0px 10px 0px 160px;
}

#right {
	width: 150px;
	float: right;
	margin: 0px;	
}

.area {
	margin: 20px 0;
}

.area p {
	margin: 0;
	font-size: 10pt;
	line-height: 12pt;
	color: #666;
}

.area p span.blue {
	color: #007ab7
}

.area a, .area a:hover { 
	text-decoration: none;
	color: #007ab7;
}

#usuarioinfo {
	margin: 0;
	padding: 5px;
}

#mygroups ul li, #newerGroups ul li {
	border-bottom: 1px dotted #ccc;
}

#usuarioinfo img {
	display: block;
	margin: 5px auto;
	border: none;
}

#mygroups img, #newerGroups img {
	/*display: block;*/
	margin: 5px auto;
	border: none;
}

#newerUsers ul {
	margin: 0 0 0 10px;
	padding: 5px 0 0 0;
}

#usuarioinfo p, #mygroups p, #newerGroups p {
	font-size: 10pt;
	text-align: center;
}

#activity .image {
	float: left;
}

#activity ul li {
	width: 620px;
	border-bottom: 1px dotted #ccc;
}

#activity ul li .text {
	padding: 5px 0 0 0;
	color: #333;
}

.area h4 {
	margin: 0;
	padding: 3px 10px;
	background: #007AB7 url(../images/h4-bg.gif) 0 0 repeat-x;
	font-size: 10pt;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}

.area ul {
	overflow: hidden;
	margin: 0;
	padding: 0 5px;
}

.area ul li {
	margin: 0;
	padding: 5px;
	list-style: none;
	font-size: 10pt;
	float: left;
}

.area ul li span {
	/*margin: 0px 0px 0px -10px;
	font-weight: bold;*/
}

.area ul li span.box {
	color: #FFFFFF;
	font-size: 7pt;
	background-color: #A0A0A0;
	padding: 2px;
	margin: 5px;
	display: block;
	width:115px;
}

.area ul li img {
	margin: 0 10px 0 0;
	border: 0;
}

.area ul li p a img {
	margin: 0px 0px 0px 25px;
}



#usuariosDestacados, #grupos, #muro {
	margin: 20px 0;
}

	#usuariosDestacados h4, #grupos h4, #muro h4 {
		margin: 0;
		padding: 5px 10px;
		background-color: #007AB7;
		font-size: 10pt;
		text-transform: uppercase;
		color: #fff;
	}
	
	#usuariosDestacados ul, #grupos ul, #muro ul {
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0 5px;
		border-bottom: 1px dotted #ddd;
	}

	#usuariosDestacados ul li {
		float: left;
		margin: 0;
		padding: 10px 5px 5px 5px;
		list-style: none;
	}
	
	#grupos ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 10pt;
		color: #444;
	}
	
	#muro ul li {
		height: 25px;
		margin: 0;
		padding: 10px;
		list-style: none;
		font-size: 10pt;
		border-bottom: 1px dotted #ddd;
		color: #444;
	}
	
		#usuariosDestacados ul li img {
			border: 0;
		}
		
		#grupos ul li img {
			float: left;
			margin: 10px 10px 10px 5px;
			border: 0;
		}
	
		#muro ul li img {
			float: left;
			margin: 0 10px 0 0;
			border: 0;
		}
		
		#grupos h5 {
			margin: 0;
			padding: 20px 0 5px 0;
			font-size: 12pt;
			font-weight: normal;
			color: #444;
		}
		
		#grupos p {
			margin: 0;
			font-size: 10pt;
			line-height: 15pt;
			color: #666;
		}

		#muro ul li .text {
			padding: 5px 0 0 0;
		} 
	
			#grupos a, #muro ul li .text a {
				text-decoration: none;
				color: #007ab7;
			}

.screen {
	width: 640px;
	overflow: hidden;
}

	#screenimage {
		float: left;
		width: 300px;
		height: 300px;
		padding: 10px;
	}
	
	#otherscreens {
		float: left;
		width: 320px;
		margin: 0;
	}
	
		.otherscreen {
			width: 320px;
			height: 77px;
			border-bottom: 1px dotted #ccc;
		}
	
		.otherscreen a {
			display: block;
			width: 320px;
			height: 57px;
			padding: 10px 0;
		}
		
		.otherscreen a:hover {
			background-color: #eee;
		}
	
		.otherscreen img {
			float: left;
			margin: 0 10px;
			width:100px;
			height:57px;
		}
		
		.otherscreen p {
			margin: 0;
			padding: 0 10px 0 0;
			font-size: 8pt;
		}

.team {
	float: left;
	width: 140px;
	padding: 0 10px;
	border-bottom: 1px dotted #ccc;
}

h5.teamflag {
	margin: 20px 0;
	font-size: 12pt;
	font-weight: normal;
	color: #007ab7;
}

h5.teamflag img {
	vertical-align: middle;
}

table.teampoints {
	margin: 0 0 5px 0;
	width: 140px;
}

table.teampoints tr td {
	padding: 5px 0;
	font-size: 10pt;
	border-bottom: 1px dotted #eee;
	color: #007ab7;
} 

table.teampoints tr td.pts {
	text-align: right;
	color: #444;
}

div.teamdetails h5 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 10pt;
	font-weight: normal;
	color: #007ab7;	
}

div.teamdetails p {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 8pt;
	line-height: 12pt;
	text-align: justify;
	color: #444;
}


/*---<pie />---*/

#pie {
	width: 960px;
	height: 52px;
	background: #c3c4c5 url(../images/pie-bg.gif) 0 0 repeat-x;
}

	#logos {
		float: left;
		width: 600px;
		height: 52px;
	}

		#logos ul {
			margin: 18px 0 0 0;
			padding: 0;
		}

			#logos ul li {
				float: left;
				display: inline;
				margin-right: 10px;
			}

	#copy {
		float: right;
		width: 360px;
		height: 52px;
	}
	
		#copy p {
			margin: 18px 0 0 0;
			padding: 0;
			font-size: 8pt;
			text-align: right;
			color: #fff;
		}
		
			#copy p span {
				padding-left: 10px;
			}
			
			#copy p span a {
				text-decoration: none;
				color: #fff;
			}

#welcome {
	margin:0 auto;
	width:960px;
}

#header {
	height:75px;
	width:960px;
}

#title {
	float:left;
	height:75px;
	width:200px;
}

#title h1 {
	margin:0;
	padding:18px 20px 0;
}

#login_area {
	float:right;
	height:75px;
	text-align:right;
	width:600px;
}

#login_area form {
	margin:15px 20px 0 0;
	padding:0;
}

#login_area form label {
	color:#FFFFFF;
	font-size:8pt;
	padding:0 5px 0 0;
}

#login_area form input.linput {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:medium none;
	color:#007AB7;
	font-size:8pt;
	margin:0 10px 0 0;
	padding:3px;
	width:120px;
}

#login_area form p {
	color:#F7F7F7;
	font-size:8pt;
	margin:0;
	padding:10px 5px 0 0;
}

#login_area form p a {
	color:yellow;
	text-decoration:none;
}

.ok, .notice {
	margin: 20px 20px 0 0;
	padding: 5px 10px;
	border: 1px dotted #0C0;
	font-size: 8pt;
	color: #0C0;
}

.error {
	margin: 20px 20px 0 0;
	padding: 5px 10px;
	border: 1px dotted #f30;
	font-size: 8pt;
	color: #f30;
}

#content {
	overflow:hidden;
	width:960px;
}

#splash {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#F7F7F7;
	border:1px solid #DDDDDD;
	float:left;
	height:200px;
	margin:20px 0 0 0;
	width:600px;
}

#splash h2 {
	color:#444444;
	font-weight:normal;
	margin:0;
	padding:20px;
}

#splash ul {
	margin:0 0 0 20px;
	padding:0;
}

#splash ul li {
	color:#444444;
	font-size:12pt;
	line-height:18pt;
	margin:0 0 0 20px;
	padding:0;
}

#splash p {
	color:#007AB7;
	font-size:12pt;
	line-height:18pt;
	margin:0;
	padding:20px 20px 0 0;
	text-align:right;
}

#splash p span {
	font-size:20pt;
	vertical-align:middle;
}

#signup {
	float:left;
	margin:30px 0 0 10px;
	width:340px;
}

#signup h3 {
	color:#444444;
	font-size:16pt;
	font-weight:normal;
	margin:0 0 15px;
	padding:0 0 5px;
	text-align:center;
}

#signup form {
	margin:0;
}

#signup form p {
	margin:0;
	padding:0 0 10px;
}

#signup form p label {
	color:#444444;
	float:left;
	font-size:8pt;
	padding:4px 5px 0 0;
	text-align:right;
	width:120px;
}

#signup form p input.sinput {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #CCCCCC;
	color:#007AB7;
	font-size:8pt;
	margin:0 10px 0 0;
	padding:3px;
	width:180px;
}

#signup form p input.ssubmit {
	float:right;
	margin:0 30px 0 0;
}


.errorExplanation {
	width: 940px;
	margin: 20px 0;
	border: 1px dotted #f30;
}

	.errorExplanation h2 {
		margin: 0;
		padding: 20px 20px 10px 20px;
		font-size: 12pt;
		font-weight: normal;
		color: #f30;
	}

		.errorExplanation h2:first-letter {
			text-transform: uppercase;
		}
	
	.errorExplanation p {
		margin: 0;
		padding: 0 20px;
		font-size: 8pt;
		color: #f30;
	}
	
	.errorExplanation ul {
		margin: 10px 0 20px 35px;
		padding: 0;
	}
	
		.errorExplanation ul li {
			margin: 0;
			padding: 0 0 5px 0;
			font-size: 8pt;
			color: #f30;
		}
		
			.errorExplanation ul li:first-letter {
				text-transform: uppercase;
			}

#users {
	margin:20px 0 0;
	width:940px;
}

#users h4 {
	border-bottom:2px solid #DDDDDD;
	color:#444444;
	font-size:10pt;
	font-weight:normal;
	margin: 0 0 10px 0;
	padding:0 0 5px 0;
}

#users h4 span {
	color:#CCCCCC;
	padding:0 0 0 5px;
}

.grid {
	padding:0 0 6px 10px;
}

#footer {
	border-top:1px solid #DDDDDD;
	height:52px;
	width:940px;
}

#copyright {
	float:right;
	height:52px;
	width:360px;
}

#copyright p {
	color:#CCCCCC;
	font-size:8pt;
	margin:18px 10px 0 0;
	padding:0;
	text-align:right;
}

#copyright p span {
	padding-left:10px;
}

#copyright p span a {
	color:#CCCCCC;
	text-decoration:none;
}

/*---<forget />---*/

.forgot {
	width: 940px;
	margin: 20px 0;
}

	.forgot h3 {
		margin: 0;
		font-size: 16pt;
		font-weight: normal;
		color: #444;
	}

	.forgot p {
		margin: 0;
		padding: 5px;
		font-size: 10pt;
		color: #444;
	}

#area_signup {
	width: 940px;
	border-top: 2px solid #ddd;
	border-bottom: 1px solid #ddd;	
}

	#area_signup form {
		margin: 0;
		padding: 0;
	} 

		#area_signup form fieldset {
			display: block;
			margin: 0 auto;
			width: 410px;
			border: none;
		}
		
			#area_signup form fieldset label {
				float: left;
				width: 120px;
				padding: 5px 5px 0 0;
				font-size: 8pt;
				text-align: right;
				color: #444;
			}
		
			#area_signup form fieldset input.fieldbox {
				width: 200px;
				padding: 3px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border: 1px solid #ddd;
				font-size: 8pt;
				color:#007AB7;
			}

/*---/ESTILO DE GROUPS/---*/

#detailgroup, #taggroup {
	float: left;
	width: 790px;
	margin: 20px 0 0 0;
}		

	#detailgroup h4, #taggroup h2 {
		margin: 0;
		padding: 3px 10px;
		background: #007AB7 url(../images/h4-bg.gif) 0 0 repeat-x;
		font-size: 10pt;
		font-weight: normal;
		text-transform: uppercase;
		color: #fff;
	}
	
		.detail img, .portlet_content ul li img {
			float: left;
			margin: 10px;
			border: none;
		}
		
		.detailinfo {
			float: left;
		}
		
		.detailinfo .title {
			margin: 0;
			padding: 10px 0 0 0;
			font-size: 12pt;
			font-weight: normal;
			color: #444;
		} 
		
		.detailinfo .subtitle, .detailinfo .summary, .detailinfo .text, .detailinfo .members {
			margin: 0;
			font-size: 10pt;
			line-height: 13pt;
			color: #666;
		}

	
		.detailinfo a, #taggroup p a {
			text-decoration: none;
			color: #007ab7;
		}
		
		#detailgroup .text {
			clear: both;
			border-bottom: 1px solid #ddd;
		}
		
			#detailgroup h5 {
				border-bottom:2px solid #DDDDDD;
				color:#444444;
				font-size: 10pt;
				font-weight:normal;
				margin: 0 0 10px 0;
				padding: 0 10px 5px 10px;
			}
		
			#detailgroup .text p {
				margin: 0;
				padding: 0 10px 10px 10px;
				font-size: 10pt;
				line-height: 13pt;
				color: #666;
			}
	
#taggroup p {
	margin: 0;
	padding: 10px;
	font-size: 10pt;
	text-align: right;
	line-height: 13pt;
	color: #666;	
}
	
	.portlet_content ul {
		margin: 0;
		padding: 0;
		border-top: 1px solid #ddd;
	}
	
	.portlet_content ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		border-bottom: 1px solid #ddd;
		clear: both;
		overflow: hidden;
	}

/*---/ESTILO DE MESSAGES/---*/

#mainmessages, #newmessages, #replymessages {
	margin: 20px 0 0 0;
}

	#mainmessages h2, #newmessages h2, #replymessages h2 {
		margin: 0;
		padding: 3px 10px;
		background: #007AB7 url(../images/h4-bg.gif) 0 0 repeat-x;
		font-size: 10pt;
		font-weight: normal;
		text-transform: uppercase;
		color: #fff;
	}
	
		#newmessages h2 a, #replymessages h2 a {
			text-decoration: none;
			color: yellow;
		}
	
	#mainmessages h3 {
		margin: 20px 0 0 0;
		padding: 5px;
		font-size: 10pt;
		text-transform: uppercase;
		border-bottom: 5px solid #ddd;
		color: #444;
	}

	#mainmessages ul {
		height: 30px;
		margin: 20px 0 0 0;
		padding: 0;
		border: 1px solid #eee;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}

	#mainmessages ul li {
		float: left;
		list-style: none;
		margin: 0;
		font-size: 8pt;
		font-weight: bold;
		text-transform: uppercase;
		border-right: 1px solid #eee;				
	}
			
		#mainmessages ul li a {
			display: block;
			padding: 9px;
			text-decoration: none;
			color: #666;
		}
			
		#mainmessages ul li a:hover {
			padding: 9px;
			background-color: #eee;
			color: #007ab7;
		}
			
		#mainmessages ul li a.subselected {
			background-color: #eee;
			color: #007ab7;
		}
		
	#mainmessages .tableB {
		margin: 20px 0;
		width: 100%;
	}
	
		#mainmessages .tableB thead tr th {
			margin: 0;
			padding: 5px 0;
			font-size: 10pt;
			text-align: center;
			text-transform: uppercase;
			border-bottom: 5px solid #ddd;
			color: #444;
		}
		
		#mainmessages .tableB tbody tr td {
			margin: 0;
			padding: 5px;
			font-size: 10pt;
			border-bottom: 1px dotted #ddd;
			color: #444;
		}
		
			#mainmessages .tcenter {
				text-align: center;
			}
			
		#mainmessages .tableB a, .bodymessages a, #mainmessages .actions a, .tarea a {
			text-decoration: none;
			color: #007ab7;
		}
		
		#mainmessages .tableB tfoot tr td {
			margin: 0;
			padding: 10px 5px 0 5px;
			font-size: 10pt;
			text-align: right;
			color: #ccc;
		}
		
	.bodymessages {
		margin: 10px 0;
		border-bottom: 1px solid #ddd;
	}
	
		.bodymessages ol {
			margin: 0;
			padding: 0;
		}
		
		.bodymessages ol li {
			margin: 0;
			padding: 0 5px 5px 5px;
			list-style: none;
			font-size: 10pt;
			color: #444;
		}
		
			.bodymessages .tborder {
				border-bottom: 1px solid #ddd;
			}
		
		.bodymessages p {
			margin: 0;
			padding: 5px;
			font-size: 10pt;
			line-height: 15pt;
			color: #444;
		}
		
	#mainmessages .actions {
		margin: 0 0 20px 0;
		padding: 0 0 0 5px;
		font-size: 10pt;
	}
	
	#mainmessages .actions .button {
		padding-right: 10px;
	}
	
	.formmessages {
		margin: 20px 0;
		border-top: 5px solid #ddd;
	}
	
		.formmessages fieldset {
			margin: 0 0 10px 0;
			border: 0;
			border-bottom: 1px solid #ddd;
		}
		
		.formmessages label {
			float: left;
			width: 100px;
			padding: 3px 5px 0 0;
			font-size: 10pt;
			font-weight: bold;
			text-align: right;
			color: #444;
		}
		
		.formmessages fieldset input {
			width: 350px;
			padding: 2px;
			font-size: 10pt;
			border: 1px solid #ccc;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			color: #444;
		}
		
		.formmessages fieldset select {
			width: 150px;
			padding: 2px;
			font-size: 10pt;
			border: 1px solid #ccc;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			color: #444;
		}
		
			.formmessages fieldset select option {
				font-size: 10pt;
				color: #444;
			}
		
		.formmessages fieldset textarea {
			width: 500px;
			height: 200px;
			padding: 2px;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 10pt;
			line-height: 13pt;
			border: 1px solid #ccc;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			color: #444;
		}
		
		.formmessages .tname {
			padding: 3px 0 0 0;
			font-size: 10pt;
			color: #444;
		}
		
	#replymessages ol {
		margin: 0;
		padding: 0;
	}
		
		#replymessages ol li {
			margin: 0;
			padding: 0 5px 5px 5px;
			list-style: none;
			border-bottom: 1px dotted #ccc;
			font-size: 10pt;
			color: #444;
		}	

	#replymessages .tarea {
		padding: 5px;
		font-size: 10pt;
		line-height: 13pt;
		background-color: #f7f7f7;
		border-bottom: 1px dotted #ccc;
		color: #444;
	}	
	