<div id="menu">
	<ul id="opciones">
    	<li id="opcion-inicio"><%= link_to I18n.t("interface.site.home"), root_path, :class => "selected" %> </li>
        <li id="opcion-sudafrica"><a href="#">Sud&aacute;frica 2010</a></li>
        <li id="opcion-aficionados"><a href="#">Aficionados</a></li>
        <li id="opcion-blogeros"><a href="#">Blogeros</a></li>
        <li id="opcion-foros"><a href="#">Foros</a></li>
        <li id="opcion-amigos"><a href="#">Amigos</a></li>
        <li id="opcion-multimedia"><a href="#">Multimedia</a></li>
        <li id="opcion-bellas"><a href="#">Bellas</a></li>
        <li><div id="buscador"></div><!--end buscador--></li>
        <li id="opcion-mi-zona"><a href="#">Mi Zona</a></li>
        <li id="opcion-mi-cuenta"><a href="#">Mi Cuenta</a></li>
    </ul>
</div><!--end menu-->
