<div id="videos" class="area">
	<h4><%= I18n.t("tog_core.interface.videos") %></h4>
	
	<div class="screen">
		
		<div id="screenimage">
			<a 
			    href="#" 
			    style="display:block;width:300px;height:300px;" 
			    id="player"> 
			</a>
		</div><!--end screenimage-->
		
		<div id="otherscreens">	
					
			<div class="otherscreen">
				<a href="#">
				<img alt="otherscreen" src="images/video1-mini.jpg" border="0" />
				<p>Chivas golea a Santos, 6-1 en el Jalisco en el Bicentenario 2010.</p>				
				</a>
			</div><!--end otherscreen-->
						

			<div class="otherscreen">
				<a href="#">
				<img alt="otherscreen" src="images/video2-mini.jpg" border="0" />
				<p>Monterrey en el volc&aacute;n no pudo con los Jaguares y empataron 1-1.</p>				
				</a>
			</div><!--end otherscreen-->
		
			<div class="otherscreen">
				<a href="#">
				<img alt="otherscreen" src="images/video3-mini.jpg" border="0" />
				<p>El Am&eacute;rica no puede en Puebla y 'Chelis' se queda, el Am&eacute;rica recibi&oacute; 2 y solo anot&oacute; 1.</p>				
				</a>
			</div><!--end otherscreen-->

			<div class="otherscreen">
				<a href="#">
				<img alt="otherscreen" src="images/video4-mini.jpg" border="0" />
				<p>Ya est&aacute; la pre-lista de la selecci&oacute;n, 18 jugadores de la liga parten a una gira a Europa.</p>				
				</a>
			</div><!--end otherscreen-->
									
		</div><!--end otherscreens-->
		
	</div><!--end screen-->
	
	
</div>

<div id="activity" class="area">
	<h4><%= I18n.t("tog_user.interface.activity") %></h4>
	<ul>
    	<%= public_continuum 20 %>
    </ul>
</div>

<div id="my_teams" class="area">
	<h4><%= I18n.t("tog_user.interface.my_teams") %></h4>
	
	<div class="team">
	
		<h5 class="teamflag"><img alt="M&eacute;xico" src="images/mexico-flag.png" /> M&eacute;xico</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">5</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">4</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">12</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Tras sus dos primeros partidos M&eacute;xico muestra mejoria.</p>
			<p>La salida del "Chicharito" antes de acabar el partido, fue solo para protegerlo de una lesi&oacute;n.</p>
			<p>El conjunto se prepara para su pr&oacute;ximo encuentro.</p>
		</div><!--end teamdetails-->
	
	</div><!--end team-->
	
	<div class="team">
	
		<h5 class="teamflag"><img alt="Holanda" src="images/neatherland-flag.png" /> Holanda</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">7</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">8</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">9</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Holanda muy superior en sus encuentros.</p>
			<p>Ahora viaja todo el equipo para su pr&oacute;ximo encuentro.</p>
			<p>Holanda calificar&aacute; a la siguiente fase sin problemas.</p>
		</div><!--end teamdetails-->
	
	</div><!--end team-->

	<div class="team">
	
		<h5 class="teamflag"><img alt="Espa&ntilde;a" src="images/spain-flag.png" /> Espa&ntilde;a</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">9</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">7</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">1</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Espa&ntilde;a uno de los fuertes candidatos a ser campeones.</p>
			<p>La delantera hispana imparable.</p>
			<p>Villa dice que se siente bien con su desempe&ntilde;o, pero sobre todo le gusta como se desenvuelve el equipo.</p>
		</div><!--end teamdetails-->
	
	</div><!--end team-->
	
	<div class="team">
	
		<h5 class="teamflag"><img alt="Portugal" src="images/portugal-flag.png" /> Portugal</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">9</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">9</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">4</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Portugal con un inicio incierto en el mundial.</p>
			<p>Cristiano Ronaldo tras salir por lesi&oacute; no estar&aacute; en el pr&oacute;ximo partido.</p>
			<p>El equipo se dice listo para enfrentar a su pr&oacute;ximo rival.</p>
		</div><!--end teamdetails-->
		
	</div><!--end team-->	
	
	<script language="JavaScript"> 
		flowplayer("player", "/scripts/flowplayer-3.1.5.swf",  { 
		    clip: { 
		        autoPlay: false,  
		        autoBuffering: true
		  		},
			playlist: [
					{
						url: '/videos/chivas.flv',
						scaling: 'fit'
					}
				],
			plugins:  { 
			        controls: { 
			            playlist: true, 

			            // use tube skin with a different background color 
			            url: 'flowplayer.controls-3.1.5.swf',  
			            backgroundColor: '#aedaff' 
			        }  
			    }
		    }); 
	</script>
	
</div>