<div id="left">
	<%= render :partial => "shared/news" %>
	
	<div id="blogs" class="area">
		<h4>En los <%= I18n.t("tog_core.interface.blogs") %></h4>
	</div>

	<div id="forums" class="area">
		<h4>En los <%= I18n.t("tog_core.interface.forums") %></h4>
	</div>
</div>