<div id="newerUsers" class="area">
	<h4><%= I18n.t("tog_core.interface.new_users") %></h4>
	<ul>
    <% last_users.each do |user|%>
        <li><%=link_to icon_for_profile(user.profile, 'small'), profile_path(user.profile)%></li>
    <%end %>
    </ul>
</div><!--end usuariosDestacados-->