<div id="newerGroups" class="area">
	<h4><%= I18n.t("tog_core.interface.new_groups") %></h4>
	<ul>
    <% last_groups.each do |group| %>
    	<li>
			<p>
        		<%= link_to image_for_group(group, 'medium'), group_path(group) %><br/>
            	<%= link_to group.name, group_path(group) %><br/>
            	<span><%=group.description%></span>
			</p>
        </li>
    <%end %>
    </ul>
</div><!--end grupos-->