<div id="iconos">
	<ul>
    	<li><a title="Icono" href="#"><img alt="icono" src="images/icono.gif" border="0" /><span class="new">10</span></a></li>
        <li><a title="Icono" href="#"><img alt="icono" src="images/icono.gif" border="0" /></a></li>
        <li><a title="Icono" href="#"><img alt="icono" src="images/icono.gif" border="0" /></a></li>
        <li><a title="Icono" href="#"><img alt="icono" src="images/icono.gif" border="0" /></a></li>
    </ul>
</div><!--end iconos-->