<div id="videos" class="area">
	<h4><%= I18n.t("tog_core.interface.videos") %></h4>
	
	<div class="screen">
		
		<div id="screenimage">
			<img alt="screenimage" src="images/obama-screen.jpg" /></div><!--end screenimage-->
		
		<div id="otherscreens">	
					
			<div class="otherscreen">
				<a href="#">
				<img alt="otherscreen" src="images/obama-screen-thumb.jpg" border="0" />
				<p>Orrovit peligentia cum, et voluptas eat as dolupta tem. Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>				
				</a>
			</div><!--end otherscreen-->
						

			<div class="otherscreen">
				<a href="#">
				<img alt="otherscreen" src="images/obama-screen-thumb.jpg" border="0" />
				<p>Orrovit peligentia cum, et voluptas eat as dolupta tem. Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>				
				</a>
			</div><!--end otherscreen-->
		
			<div class="otherscreen">
				<a href="#">
				<img alt="otherscreen" src="images/obama-screen-thumb.jpg" border="0" />
				<p>Orrovit peligentia cum, et voluptas eat as dolupta tem. Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>				
				</a>
			</div><!--end otherscreen-->
						
		</div><!--end otherscreens-->
		
	</div><!--end screen-->
	
	
</div>

<div id="activity" class="area">
	<h4><%= I18n.t("tog_user.interface.activity") %></h4>
	<ul>
    	<%= public_continuum(20) %>
    </ul>
</div>

<div id="my_teams" class="area">
	<h4><%= I18n.t("tog_user.interface.my_teams") %></h4>
	
	<div class="team">
	
		<h5 class="teamflag"><img alt="M&eacute;xico" src="images/mexico-flag.jpg" /> M&eacute;xico</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">5</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">4</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">12</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
		</div><!--end teamdetails-->
	
	</div><!--end team-->
	
	<div class="team">
	
		<h5 class="teamflag"><img alt="M&eacute;xico" src="images/mexico-flag.jpg" /> M&eacute;xico</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">5</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">4</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">12</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
		</div><!--end teamdetails-->
	
	</div><!--end team-->

	<div class="team">
	
		<h5 class="teamflag"><img alt="M&eacute;xico" src="images/mexico-flag.jpg" /> M&eacute;xico</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">5</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">4</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">12</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
		</div><!--end teamdetails-->
	
	</div><!--end team-->
	
	<div class="team">
	
		<h5 class="teamflag"><img alt="M&eacute;xico" src="images/mexico-flag.jpg" /> M&eacute;xico</h5><!--end teamflag-->
		<table class="teampoints" cellspacing="0">
			<tbody>
				<tr>
					<td>Puntos</td>
					<td class="pts">5</td>
				</tr>
				<tr>
					<td>Goles</td>
					<td class="pts">4</td>
				</tr>
				<tr>
					<td>Ranking</td>
					<td class="pts">12</td>
				</tr>
			</tbody>
		</table><!--end teampoints-->
	
		<div class="teamdetails">
			<h5>Relacionadas</h5>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
			<p>Orrovit peligentia cum, et voluptas eat as dolupta tem.</p>
		</div><!--end teamdetails-->
	
	</div><!--end team-->	
	
</div>