<div id="videos" class="area">
	<h4><%= I18n.t("tog_core.interface.videos") %></h4>
</div>

<div id="activity" class="area">
	<h4><%= I18n.t("tog_user.interface.activity") %></h4>
	<ul>
    	<%= public_continuum(20) %>
    </ul>
</div>

<div id="my_teams" class="area">
	<h4><%= I18n.t("tog_user.interface.my_teams") %></h4>
</div>