<%= render :partial => "shared/activity" %>

<div id="video" class="area">
	<h4>En los <%= I18n.t("tog_core.interface.videos") %></h4>
</div>

<div id="images" class="area">
	<h4>En las <%= I18n.t("tog_core.interface.images") %></h4>
</div>