<div id="left">
	<%= render :partial => "shared/left" %>
</div>

<div id="right">
	<%= render :partial => "shared/right" %>
</div>

<div id="center">
	<%= render :partial => "shared/center" %>
</div>
